# Python
__pycache__/
# Environment variables
*.env
# OS files
.DS_Store
Thumbs.db
# Django
db.sqlite3
/staticfiles/
# Poetry
poetry.lock
# Logs
logs/*
!logs/.placeholder
# Deploy zip for AWS
deploy.zip
